// Body
$body-bg: #f8fafc;
$blue:    #0A4D9B !default;
$navbar-toggler-font-size: 0.9rem;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
